@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use "~@openmrs/esm-styleguide/src/vars" as vars;
@use '@carbon/styles/scss/colors';

.tableContainer {
    background-color: vars.$ui-01;
    margin: 0;
    padding: 0;

    :global(.cds--data-table-content) {
      overflow-x: unset;
    }

    a {
      text-decoration: none;
    }

    th {
      color: vars.$text-02;
    }

    :global(.cds--data-table) {
      background-color: vars.$ui-03;
    }

    .toolbarContent {
      height: spacing.$spacing-07;
      margin-bottom: spacing.$spacing-02;
    }
    td {
      white-space: normal;
    }
  }

.samples{
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-wrap: wrap;
}
  .sample{
    width: 20rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    border: 1px solid vars.$grey-2;
    padding: 0.5rem;
    :global(.cds--text-input__readonly-icon){
      display: none;
    }
    align-self: flex-start;
    max-height: 40rem;
    overflow-y: auto;
    background-color: colors.$gray-10;
  }

  .AltRow{
    background-color: colors.$gray-10;
  }

  .sampleRemove{
    text-align: center;
    button{
    padding: 0;
    margin: 0;
    min-height: 0;
    min-width: 0;
    }
  }

  .errorText{
    color: colors.$red-60;
    padding: 0.7rem 0 0 1rem;
  }
