@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/colors';
@use "~@openmrs/esm-styleguide/src/vars" as vars;

.locationLabRequest{
    padding: 0.5rem;
    border: 1px solid vars.$ui-03;
    background-color: vars.$ui-01;

    select, .selectedTestAltRow{
        background-color: vars.$ui-02 !important;
    }
}
.labRequests{
    margin-top: 0.5rem;
    .labRequestsHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        button{
            min-height: 16px;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.selectedTests{
    display: flex;
    flex-direction: column;
    row-gap: 0rem;

    .testLocation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        button{
            min-height: 16px;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.selectedTest:last-child{
    border-bottom: 1px solid vars.$ui-03;
}

.selectedTest{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid vars.$ui-03;
    padding-top: 0.5rem;
    padding-bottom: 0.35rem;
    padding-left: 0.25rem;
    font-size: 0.85rem;



    button{
        min-height: 16px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .selectedTestName{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.section{
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.formWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.form{
    background-color: vars.$ui-01;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 65%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
}

.modalBody {
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 0.85rem;
    min-height: 30rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    :global(.cds--text-input), :global(.cds--list-box input[role=combobox]), :global(.cds--list-box input[type=text]),
    :global(.cds--select-input), :global(.cds--text-area), :global(.cds--number > div.cds--number__input-wrapper > input[type=number]){
        background-color: vars.$ui-02;
    }
}

.radioLabel{
    padding-top:0.45rem;
}

.modalFooter{
    padding-left: 1rem;
    padding-right: 1rem;
}

.multiSelectedCombo {
    :global(.cds--list-box) {
        background-color: vars.$ui-02;
    }
}

.borderBottom{
    border-bottom: .063rem solid vars.$ui-03;
}

.horizontalRadioButtons{
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    padding-bottom: 0.5rem;
}

.clear-margin-padding-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

.inputWhite {
    input, textarea{
        background-color: vars.$ui-02;
    }
}


.errorText {
    color: colors.$red-60;
}

.formField{

}

.patientSearch{
    div[data-extension-slot-name] {
        form {
            :global(button.cds--search-close) {
                height: 2rem;
                padding: 0;
            }

            :global(button.cds--btn--primary) {
                height: 2rem;
                min-height: 2rem;
                padding-top: 0.35rem;
                /* vertical-align: middle; */
                padding: 0.35rem;
            }

            :global(input.cds--search-input) {
                height: 1rem;
                padding: 0 0.5rem 0 3rem;
                min-height: 2rem;
            }
        }
        form + div {
            button {
                height: 4rem;
                button {
                    height: 1rem;
                }
            }
        }
    }
}

.urgencyContainer{

}

.referOut{
    display: flex;
    flex-direction: row;
    column-gap: 0rem;
    align-items: center;
    justify-content: flex-end;
    :global(.cds--checkbox-label-text){
        white-space: nowrap;
    }
}
