@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use "~@openmrs/esm-styleguide/src/vars" as vars;

.locationLabRequest{
    padding: 0.5rem;
    border: 1px solid vars.$ui-03;
    background-color: vars.$ui-01;

    select, .selectedTestAltRow{
        background-color: vars.$ui-02 !important;
    }
}
.labRequests{
    margin-top: 0.5rem;
    .labRequestsHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        button{
            min-height: 16px;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.selectedTests{
    display: flex;
    flex-direction: column;
    row-gap: 0rem;

    .testLocation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        button{
            min-height: 16px;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.selectedTest:last-child{
    border-bottom: 1px solid vars.$ui-03;
}

.selectedTest{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid vars.$ui-03;
    padding-top: 0.5rem;
    padding-bottom: 0.35rem;
    padding-left: 0.25rem;
    font-size: 0.85rem;



    button{
        min-height: 16px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .selectedTestName{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.section{
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.referOut{
    display: flex;
    flex-direction: row;
    column-gap: 0rem;
    align-items: center;
    justify-content: flex-end;
    :global(.cds--checkbox-label-text){
        white-space: nowrap;
    }
}
