@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use "~@openmrs/esm-styleguide/src/vars" as vars;

.headerBtnContainer {
  background-color: vars.$ui-background;
  padding: spacing.$spacing-05;
  text-align: right;
}

.tileContainer {
  background-color: vars.$ui-02;
  border-top: 1px solid vars.$ui-03;
  padding: 5rem 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  @include type.type-style('heading-compact-02');
  color: vars.$text-02;
  margin-bottom: 0.5rem;
}

.helper {
  @include type.type-style('body-compact-01');
  color: vars.$text-02;
}

.separator {
  @include type.type-style('body-compact-02');
  color: vars.$text-02;
  width: 80%;
  margin: 1.5rem auto;
  overflow: hidden;
  text-align: center;

  &::before,
  &::after {
    background-color: vars.$text-03;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    right: 0.5rem;
    margin-left: -50%;
  }

  &::after {
    left: 0.5rem;
    margin-right: -50%;
  }
}

.toolbarContent {
  display: flex;
  align-items: center;
}

.filterContainer{
  display: flex;
  align-items: center;
}
.dateAlign{
  padding-top: 8px;
  height: 100%;
}
.filtersAlign{
  padding-bottom: 8px;

  :global(.cds--list-box__menu) {
    min-width: 15rem;
    z-index: 1;
  }
}




.tableContainer {
  background-color: vars.$ui-01;
  margin: 0;
  padding: 0;

  :global(.cds--data-table-content) {
    overflow-x: unset;
  }

  a {
    text-decoration: none;
  }

  th {
    color: vars.$text-02;
  }

  :global(.cds--data-table) {
    background-color: vars.$ui-03;
  }

  .toolbarContent {
    height: spacing.$spacing-07;
    margin-bottom: spacing.$spacing-02;
  }

  td {
    white-space: normal;
  }
}

.search{
  width: 50%;
}

.testName{
  padding-left: 0;
  padding-right: 0;
  white-space: normal;
}
