@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/colors';
@use "~@openmrs/esm-styleguide/src/vars" as vars;

.modalBody {
    overflow-y: visible;
    :global(.cds--text-input), :global(.cds--list-box input[role=combobox]), :global(.cds--list-box input[type=text]),
    :global(.cds--select-input), :global(.cds--text-area), :global(.cds--number > div.cds--number__input-wrapper > input[type=number]){
        background-color: vars.$ui-02;
    }
}

.section{
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.errorText {
    color: colors.$red-60;
}
