@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use "~@openmrs/esm-styleguide/src/vars" as vars;

.container {
    background-color: vars.$ui-01;
}

.tabList {
    padding-left: 2rem
}

.tabWidth {
    width: 150px
}

.panelContainer {
    margin: 10px
}
