.spacing{
    margin: 0 16px
  }

  .select, .patient{
    width: 8.5rem;
    min-width: 9rem;

    // Make the dropdown menu wider to display full names
    :global(.cds--select-input__wrapper) {
      width: 8.5rem;
    }

    :global(.cds--select-input) {
      width: 8.5rem;
    }

    // Dropdown menu should be wider to show full names
    :global(.cds--list-box) {
      width: 20rem;
      max-width: 20rem;
    }
  }

  .patient{
    height: 2.9rem;
    width: 24rem;
  }

  .testSelect{
    width: 8.5rem;
    min-width: 8.5rem;

    // Make the dropdown menu wider to display full test names
    :global(.cds--select-input__wrapper) {
      width: 8.5rem;
    }

    :global(.cds--select-input) {
      width: 8.5rem;
    }

    // Dropdown menu should be wider to show full test names
    :global(.cds--list-box) {
      width: 25rem;
      max-width: 25rem;
    }
  }

  .dateInput{
    margin-top: 0.5rem;

    :global(.cds--date-picker.cds--date-picker--single) :global(.cds--date-picker__input) {
      width: unset;
    }
  }

  .clearDate{
    padding: 0;
    margin: 0;
    padding-inline-end: 0;
    padding-inline-start: 0;
    padding-block-end: 0;
    padding-block-start: 0;
    position: relative;
    left: -3.5rem;
    top: 0.65rem;
    min-height: 0;
    min-width: 0;
    color: black;
  }

  .clearToggleMargin{
    :global(.cds--toggle__label-text){
      margin-bottom: 0;
    }
  }

  // Bring selects closer together and right-align
  :global(.cds--form-item) {
    &.spacing {
      margin: 0 0.5rem;
    }
  }

  // Make selects compact and right-aligned in toolbar
  :global(.cds--select) {
    &.cds--select-input--sm .cds--select-input__wrapper {
      width: 8.5rem;
    }
  }

  // Reduce spacing between form items
  :global(.cds--list-box__menu-item) {
    padding: 0.5rem 1rem;
  }