@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '~@openmrs/esm-styleguide/src/vars' as vars;

.desktopOverlay {
  position: fixed;
  top: spacing.$spacing-09;
  width: 37rem;
  right: 0;
  bottom: 0;
  border-left: 1px solid vars.$text-03;
  background-color: vars.$ui-01;
  overflow-y: auto;
  height: calc(100vh - 3rem);
}

.desktopOverlay::after {
  height: 100%;
  border-left: 1px solid vars.$text-03;
}

.desktopOverlay:has(:global(.elevate-above-grid)) {
  z-index: 9999;
}

.tabletOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: vars.$ui-01;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  &>div {
    margin-top: spacing.$spacing-09;
  }
}

.tabletOverlayHeader {
  button {
    @include vars.brand-01(background-color);
  }

  .headerContent {
    color: vars.$ui-02;
  }
}

.desktopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$ui-03;
  border-bottom: 1px solid vars.$text-03;
  position: sticky;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.headerContent {
  @include type.type-style('heading-compact-02');
  padding: 0 spacing.$spacing-05;
  color: vars.$ui-05;
}

.closeButton {
  background-color: vars.$ui-background;
  color: vars.$ui-05;
  fill: vars.$ui-05;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .overlayContent {
    padding: 0 0 0 0;
    overflow-y: auto;
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .overlayContent {
    padding: 0 0 0 0;
    overflow-y: auto;
  }
}

.component{
  height: 100%;
}
