@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@use "~@openmrs/esm-styleguide/src/vars" as vars;

.modalBody {
    overflow-y: visible;
    :global(.cds--text-input), :global(.cds--list-box input[role=combobox]), :global(.cds--list-box input[type=text]),
    :global(.cds--select-input), :global(.cds--text-area), :global(.cds--number > div.cds--number__input-wrapper > input[type=number]){
        background-color: vars.$ui-02;
    }
}

.section{
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.errorText {
    color: colors.$red-60;
}

.testResultFileItems, .testResultFileUpload{
    display: flex;
    row-gap: 0.5rem;
    column-gap: 1rem;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 20rem;
    overflow-y: auto;
  }

  .testResultFileItems > div{
    height: min-content;
    white-space: pre-wrap !important;
    width: fit-content;

    p{
        @include type.type-style("heading-01");
    }
  }
