@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';


section {
  margin: spacing.$spacing-03;
}

.sectionTitle {
  margin-bottom: spacing.$spacing-04;
}

.modalBody {
  margin-bottom: 0.5rem;
}

.textInput {
  margin: 5px;
}

.errorDiv {
  color: red;
}

.testImportFieldSection{
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0rem;
  padding-right: 0.5rem;

  .mainTestField{
    :global(.cds--label){
      border-bottom: double 2px black;
      font-weight: bold;
    }
  }
}

.testImportFieldSection:last-child{
  border-bottom: 0;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  padding-left: 0rem;
}

.codedImportConfigValues{
  display: grid;
  grid-template-columns: auto auto auto auto;
  .textInput{
    margin-top: 0;
  }

  .codedImportConfigValuesSection{
    grid-column: 1/-1
  }
}
